@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --primary-color: #2A476B;
    --secondary-color: #507AA7;
    --icon-color: #EE4455;
    --heading-color: #454545;
    --text-color-light: #111111;
    --text-color-dark: #fff;
    --bg-light: #F3F1ED;
    --input-border-color: #f5f6f8;
    --font-family: 'Poppins', sans-serif;
    --bg-dark: #1a1c28;
}
*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: var(--font-family);

}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    margin: 5rem 0;
}
.main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border : 2px solid black;
}
.search-bar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-bottom: 2px solid var(--input-border-color);
}
.search-icon{
    position: absolute;
    left: 1rem;
    font-size: 2rem;
    color: var(--icon-color);
}
.search-input{
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 0;
    outline: none;
    font-size: 1.6rem;
    font-family: var(--font-family);
    background: transparent;
}
.search-input::placeholder{
    color: rgba(206, 206, 206, 0.7);
    font-size: 1.6rem;
}

.weather{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    width: 50vw;
    padding: 3rem;
}
.weather-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weather-bottom {
    display: flex;
    justify-content: center;
    align-items: center;

}
